/* -- main layout ----------------------------------------------------------- */

div#clearer {
    clear: both;
}

/* -- header ---------------------------------------------------------------- */

div.header {
    width: 100%;
    font-size: 90%;
}

div.header h3 {
    display: none;
}

div.header ul {
    margin: 0;
    padding: 0 0 0 10px;
    list-style: none;
}

div.header li {
    display: inline;
}

div.header li.right {
    float: right;
    margin-right: 5px;
}

/* -- catalog --------------------------------------------------------------- */

div.catalogsidebarwrapper {
    padding: 20px 0px 0 0px;
}

div.catalogsidebar {
    /*float: left;*/
    /*position: fixed;*/
    width: 290px;  /*CSS会选择这个属性而不是上面的*/
    /*margin-left: -100%;  !*这个属性结合"documentwrapper"的"float"属性同时使用 真的是神奇啊*!*/
    font-size: 90%;
    word-wrap: break-word;
    overflow-wrap : break-word;
}

div.catalogsidebar ul {
    list-style: none;
}

div.catalogsidebar ul ul{
    margin-left: 20px;
    list-style: circle;
    margin-top: 0;
    margin-bottom: 0;
}

div.catalogsidebar form {
    margin-top: 10px;
}

div.catalogsidebar input {
    border: 1px solid #98dbcc;
    font-family: sans-serif;
    font-size: 1em;
}

div.catalogsidebar #searchbox form.search {
    overflow: hidden;
}

div.catalogsidebar #searchbox input[type="text"] {
    float: left;
    width: 80%;
    padding: 0.25em;
    box-sizing: border-box;
}

div.catalogsidebar #searchbox input[type="submit"] {
    float: left;
    width: 20%;
    border-left: none;
    padding: 0.25em;
    box-sizing: border-box;
}


img {
    border: 0;
    max-width: 100%;
}

/* -- general body styles --------------------------------------------------- */
/*文档的主体部分*/
div.body {
    min-width: 450px;
    max-width: 1000px;
    margin-right: 30px;
}

div.body p, div.body dd, div.body li, div.body blockquote {
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

/* -- printout stylesheet --------------------------------------------------- */

@media print {
    div.document,
    div.documentwrapper,
    div.bodywrapper {
        margin: 0 !important;
        width: 100%;
    }

    div.catalogsidebar,
    div.header,
    div#footer,
    /*#top-link {*/
        /*display: none;*/
    /*}*/
}

/*段落中的logo样式*/
p#logo{
    font-weight:900 ;
    font-size: 270% ;
    letter-spacing: 28px;
}

