@import url("basic.css");
@import url('http://fonts.googleapis.com/css?family=Titillium+Web:400,300,700');

body {
    font: 14px/1.4 Helvetica, Arial, sans-serif;
    background-color: #E6E8E8;
    color: #37424A;
    margin: 0;
    padding: 0;
    border-top: 2px solid #F05C56;
}

/*右边的文档浏览部分进行一些修饰*/
div.documentwrapper {
    float: right;
    width: 990px;
}

/*设置左边距，用于放目录*/
div.bodywrapper {
    margin: 0 0 0 0p /*可有可无*/
}

hr {
    border: 1px solid #B1B4B6;
}

/*用于整个文档部分设置背景图像*/
div.document {
    background-color: #ffffff;
}

/*设置一些内边距，多点自由呼吸的空气*/
div.body {
    background-color: #ffffff;
    color: #3E4349;
    padding: 0 30px 30px 30px;
}
 
div#footer {
    color: #222B31;
    width: 100%;
    padding: 13px 0;
    text-align: center;
    font-size: 75%;
}
 
div#footer a {
    color: #444;
    text-decoration: underline;
}
 
div.header {
    background-color: #80D2DC;
    line-height: 32px;
    color: #37424A;
    font-size: 100%;
    border-top: #9C4850 2px solid;
}
 
div.header a {
    color: #37424A;
    text-decoration: none;
}

div.header a:hover {
    color: #fff;
}

/*目录bar*/
div.catalogsidebar {
    line-height: 1.5em;
    width: 290px; /*注意宽度应该小于等于文档的左外边距*/
}

div.catalogsidebarwrapper{
    padding: 20px 0;
    background-color: #efefef;
    position: relative;
}
 
div.catalogsidebar h3, /*h4这里没有用到，只用到了h3*/
div.catalogsidebar h4 {
    font-family: 'Titillium Web', sans-serif;
    color: #e6e8e8;
    font-size: 1.2em;
    font-weight: 500;
    margin: 0;
    padding: 5px 10px;
    background-color: #5e6a71;
    // text-shadow: 1px 1px 0 white;
    text-transform: uppercase;
}

div.catalogsidebar h4{
    font-size: 1.1em;
}
 
div.catalogsidebar h3 a {
    color: #e6e8e8;
}
 
 
div.catalogsidebar p {
    color: #888;
    padding: 5px 20px;
}
 

div.catalogsidebar ul {
    margin: 10px 5px 10px 0px;
    padding: 0;
    color: #000;
}

div.catalogsidebar li {
    margin: 11px 5px 0px 20px;
    padding: 0;
    color: #007020;
}
 
div.catalogsidebar a {
    color: #444;
}
 
div.catalogsidebar input {
    border: 1px solid #ccc;
    font-family: sans-serif;
    font-size: 1em;
}

div.catalogsidebar input[type=text]{
    margin-left: 20px;
}


/*ul.linkk li a:link {color: #007e7e;}*/
/*ul.linkk li a:visited {color: #333333;}*/
/*ul.linkk li a:hover {background: #24f8c7;color: #0d5353;}*/

/* -- body styles ----------------------------------------------------------- */
 
a {
    color: #F05C56;
    text-decoration: none;
}

a:hover {
    color: #F05C56;
    text-decoration: underline;
}
 
div.body h1,
div.body h2,
div.body h3,
div.body h4,
div.body h5,
div.body h6 {
    margin: 30px 0 10px 0;
    padding: 5px 0 5px 0;
    text-transform: uppercase;
}
 
div.body h1 { font: 20px/2.0 'Titillium Web'; color: #37424A; border-top: 20px solid white; margin-top: 0; }
div.body h2 { font: 18px/1.8 'Titillium Web'; background-color: #5E6A71; color: #E6E8E8; padding: 5px 10px; }
div.body h3 { font: 16px/1.6 'Titillium Web'; color: #37424A; }
div.body h4 { font: 14px/1.4 Helvetica, Arial, sans-serif;  color: #37424A; }
div.body h5 { font: 12px/1.2 Helvetica, Arial, sans-serif;  color: #37424A; }
div.body h6 { font-size: 100%; color: #37424A; }

div.body p, div.body dd, div.body li {
    line-height: 1.5em;
}


