<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!--引用本地文件-->
        <link rel="stylesheet" href="../static/css/nature.css" type="text/css" />
{#        <link rel="stylesheet" href="../static/css/basefile.css" type="text/css">#}
        <title>USTC数电实验主页</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    </head>

    <body>
        <div class="header">
            <ul>
                <li class="right" style="margin-right: 10px">
                    <a href="#" title="其他">其他资源</a></li>
                <li class="right" >
                    <a href="#" title=""
                    >外部链接</a> |</li>
                <li class="right" >
                    <a href="https://ustc.edu.cn" accesskey="U">USTC</a> |</li>
                <li><a href="https://vlab.ustc.edu.cn" title="VLAB 实验中心">VLab</a> &#187;</li>
            </ul>
        </div>

        <div class="document">
        {% block content %}{% endblock %}
        </div >

        <div class="header" >
            <ul>
                <li class="right" style="margin-right: 10px">
                    <a href="#" title="其他">其他资源</a></li>
                <li class="right" >
                    <a href="#" title=""
                    >外部链接</a> |</li>
                <li class="right" >
                    <a href="https://ustc.edu.cn" accesskey="U">USTC</a> |</li>
                <li><a href="https://vlab.ustc.edu.cn" title="VLAB 实验中心">VLab</a> &#187;</li>
            </ul>
        </div>
        <div id="footer" role="contentinfo">
    如果网页的浏览出现了问题或者你对网页的布局有什么建议，请联系我们：<a href="mailto:xys05@outlook.com">xys05@outlook.com</a>
        </div>
    </body>
</html>